@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
:root{
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --dark-blue-main: hsl(217, 54%, 11%);
    --dark-blue-card: hsl(216, 50%, 16%);
    --dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}
body {
    font-family:'Outfit', sans-serif;
    font-size:1rem;
    font-weight:300;
    line-height: 1.5;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 375px;
    height: 100vh;
    color: var(--soft-blue);
    background-color: var(--dark-blue-main);
}
a{
    color:var(--white);
    text-decoration: none;
    transition: color 0.15s;
}
a:hover,
a:active{
    color:var(--cyan);
}
.container{
    display:flex;
    align-items: center;
    max-width: 327px;
    padding-left: 1rem;
    padding-right: 1rem;
}
@media(min-width:768px){
    .container{
        max-width:350px;
    }
}

.card{
    position : relative;
    display:flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--dark-blue-card);
    background-clip: border-box;
    border-radius: 1rem;
    box-shadow: 0 2rem 6rem -2rem rgb(0 0 0 / 50%);
}
.card-body{
    position:relative;
    padding: 1.5rem 1.5rem 2rem;
}

.card-img-link {
    display: block;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.card-img-link::before {
    content: '';
    background: url('./images/icon-view.svg') center no-repeat #fff;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: hsla(178, 100%, 50%, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
}

.card-img-link:hover::before,
.card-img-link:active::before {
    visibility: visible;
    opacity: 1;
}

.card-img {
    display: block;
    width: 100%;
}

.card-body h1 {
    font-size: 1.375rem;
    font-weight: 600;
    margin-top: 0;
    color: var(--white);
    margin-bottom: 0.75rem;
}

.card-body p {
    margin: 0
}

.card-text {
    font-size: 1.125rem;
}

.card-tags {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.card-tags p {
    display: flex;
    align-items: center;
}

.card-tags img {
    margin-right: 0.5rem;
}

.eth {
    font-weight: 600;
    color: var(--cyan);
}

.card-bottom {
    margin-top: 1.25rem;
    padding-top: 1rem;
    border-top: 1px solid hsla(0, 0%, 59%, 0.2);
    display: flex;
    align-items: center;
    color: var(--soft-blue);
}

.card-bottom img {
    margin-right: 1rem;
    border: 1px solid transparent;
    border-radius: 1.875rem;
}

.card-bottom:hover img,
.card-bottom:focus img {
    border-color: var(--white);
}

.card-bottom:hover,
.card-bottom:focus {
    color: var(--soft-blue);
}

.card-bottom span {
    color: var(--white);
}

.card-bottom:hover span,
.card-bottom:focus span {
    color: var(--cyan);
}

.rounded {
    border-radius: 100%
}

.attribution {
    display: none;
    color: white;
    font-size: 11px;
    text-align: center
}

.attribution a {
    color: white
}